### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
## Display the total number of players
total_players = purchase_data["SN"].nunique()
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
## Run basic calculations to obtain number of unique items, average price, etc.
num_unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

## Create a summary data frame to hold the results
summary_df = pd.DataFrame({
    "Number of Unique Items": [num_unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [num_purchases],
    "Total Revenue": [total_revenue]
})

## Giving the displayed data cleaner formatting
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)

## Display the summary data frame
summary_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
## Finding counts of each gender
genders_df = purchase_data.groupby(["Gender"])
gender_counts = genders_df["SN"].nunique()

## Finding percentage of each gender
gender_percent = gender_counts / total_players * 100

## Creat summary data frame and cleaning up the formatting
gender_summary_df = pd.DataFrame({"Total Count": gender_counts,
                                  "Percentage of Players": gender_percent})
gender_summary_df["Percentage of Players"] = gender_summary_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_summary_df[["Total Count", "Percentage of Players"]].sort_values(["Total Count"], ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
## Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count = genders_df["Purchase ID"].count()
average_purch_price= genders_df["Price"].mean()
total_purch_value = genders_df["Price"].sum()
average_totalpurch_perperson = total_purch_value / gender_counts

## Create a summary data frame to hold the results
gender_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": average_purch_price,
                                   "Total Purchase Value": total_purch_value,
                                   "Avg Total Purchase Per Person": average_totalpurch_perperson})

gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].astype(float).map("S{:,.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].astype(float).map("S{:,.2f}".format)
gender_analysis_df["Avg Total Purchase Per Person"] = gender_analysis_df["Avg Total Purchase Per Person"].astype(float).map("S{:,.2f}".format)


## Display the summary data frame
gender_analysis_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"]].sort_values(["Purchase Count"], ascending=False)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Male,652,S3.02,"S1,967.64",S4.07
Female,113,S3.20,S361.94,S4.47
Other / Non-Disclosed,15,S3.35,S50.19,S4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
## Establish bins for ages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]
age_sets = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age"] = pd.cut(purchase_data["Age"], bins, labels=age_sets)
age_grouped_df = purchase_data.groupby(["Age"])

## Calculate the numbers and percentages by age group
age_count = age_grouped_df["SN"].nunique()
age_percent = (age_count / total_players) * 100

## Create a summary data frame to hold the results
age_summary_df = pd.DataFrame({"Total Count": age_count,
                               "Percentage Of Players": age_percent})

## Round the percentage column to two decimal points


## Display Age Demographics Table
age_summary_df[["Total Count", "Percentage Of Players"]]

TypeError: '<' not supported between instances of 'float' and 'str'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame